@stylex stylesheet;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  height: 100dvh;
}

body,
html,
#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-x: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#root {
  width: var(--tg-viewport-width, 100vw);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

label {
  cursor: inherit;
}

a {
  color: inherit;
}

.radix-themes {
  --default-font-family: 'Helvetica Neue', sans-serif; /* Your custom default font */
  --heading-font-family: 'Helvetica Neue', sans-serif; /* Your custom font for <Heading> components */
  --code-font-family: 'Helvetica Neue', sans-serif; /* Your custom font for <Code> components */
  --strong-font-family: 'Helvetica Neue', sans-serif; /* Your custom font for <Strong> components */
  --em-font-family: 'Helvetica Neue', sans-serif; /* Your custom font for <Em> components */
  --quote-font-family: 'Helvetica Neue', sans-serif; /* Your custom font for <Quote> components */
  --cursor-button: pointer;
  --color-surface: var(--gray-a3);
  --color-background: var(--gray-1);
  --line-height-3: calc(16px * var(--scaling));
  --base-card-surface-box-shadow: 0 0 0 1px color-mix(in oklab, var(--gray-a3), var(--gray-a3) 25%);
}

.light-theme {
  --gray-1: #fefefe;
  --gray-12: #0c0612;
  --gray-a3: #f3f4f7;
  --gray-a6: #f3f4f7;
  --gray-a11: #75788b;

  --gold-a3: rgba(250, 250, 250, 0.1);
  --gold-a4: rgba(117, 120, 139, 0.1);
  --gold-a11: #75788b;

  --bronze-a11: #1c2024;

  --brown-a11: #0c0612;

  --indigo-a11: #75788b;

  --sky-a11: #fafafa;

  --amber-a11: #0c0612;

  --mint-9: #35db8c;

  --violet-8: #583be8;
  --violet-9: #583be8;
  --violet-10: #583be8;
  --violet-a11: #583be8;

  --crimson-a11: #ff65b3;

  --plum-a11: #583be8;
}

.dark-theme {
  --gray-1: #0c0612;
  --gray-12: #fafafa;
  --gray-a3: #221d2e;
  --gray-a6: #221d2e;
  --gray-a11: #9a94aa;

  --gold-a3: rgba(250, 250, 250, 0.1);
  --gold-a4: rgba(117, 120, 139, 0.4);
  --gold-a11: #fafafa;

  --bronze-a11: #fff;

  --brown-a11: #fafafa;

  --indigo-a11: #fefefe;

  --sky-a11: #fafafa;

  --amber-a11: #221d2e;

  --mint-9: #35db8c;

  --violet-8: #583be8;
  --violet-9: #583be8;
  --violet-10: #583be8;
  --violet-a11: #ae9aff;

  --crimson-a11: #ff65b3;

  --plum-a11: #ae9aff;
}

.rt-TextFieldRoot.rt-r-size-2 > .rt-TextFieldSlot:first-of-type {
  padding-left: var(--space-4);
  padding-right: var(--space-3);
}

.rt-TextFieldRoot.rt-r-size-2 > .rt-TextFieldSlot:last-of-type {
  padding-left: var(--space-3);
  padding-right: var(--space-4);
}

.rt-TextFieldRoot.rt-r-size-2 {
  --text-field-height: var(--space-8);
}

.rt-TextFieldRoot.rt-variant-surface {
  box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a3);
}

.rt-TextFieldRoot:has(.rt-TextFieldInput:focus) {
  outline: 1px solid var(--text-field-focus-color);
  background-color: var(--gray-1);
}

.rt-TextFieldRoot.rt-variant-surface > .rt-TextFieldInput {
  font-weight: 500;
  color: var(--brown-a11);
}

.rt-TextFieldRoot.rt-variant-surface > .rt-TextFieldInput::placeholder {
  color: var(--gray-a11);
}

.rt-TextFieldInput:read-only {
  cursor: inherit;
}

.rt-Card.rt-variant-surface {
  --card-background-color: var(--gray-a3);
}

.light-theme .rt-Card.rt-variant-classic {
  --card-background-color: var(--gray-1);
}

.dark-theme .rt-Card.rt-variant-classic {
  --card-background-color: var(--gray-a3);
}

.rt-BaseMenuContent {
  box-shadow: none;
}

.rt-Button.rt-r-size-3 {
  gap: var(--space-2);
}

.rt-BaseButton.rt-variant-solid:is([data-disabled]) {
  background-color: var(--accent-9);
  opacity: 0.5;
}

.rt-TabNavItem {
  cursor: pointer;
  flex-grow: 1;
}

@font-face {
  font-family: 'Roobert PRO';
  src:
    url('/fonts/RoobertPRO-Light.woff2') format('woff2'),
    url('/fonts/RoobertPRO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src:
    url('/fonts/RoobertPRO-Regular.woff2') format('woff2'),
    url('/fonts/RoobertPRO-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert PRO';
  src:
    url('/fonts/RoobertPRO-Medium.woff2') format('woff2'),
    url('/fonts/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert PRO';
  src:
    url('/fonts/RoobertPRO-Bold.woff2') format('woff2'),
    url('/fonts/RoobertPRO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueHeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueThin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueUltraLightItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueUltraLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
